* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(126, 93, 51);
  color: white;
  font-family: sans-serif;
}

#survey-form {
  border: none;
  border-radius: 5px;
  padding: 20px;
  background-color: rgb(112, 47, 47);
  border: none;
}

.radio-control {
  margin-bottom: none;
}

.form-control {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.radio-control {
  display: block;
}

button {
  width: 100%;
  margin-top: 5px;
  padding: 10px;
  background-color: green;
  border: none;
  border-radius: 5px;
}

p {
  margin-top: 15px;
  margin-bottom: 5px;
}

textarea {
  height: 7em;
}
